<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/library.css" rel="stylesheet" media="screen">
    <title>Title</title>
    <style>
        /*h1 {*/
        /*  color: red !important;*/
        /*}*/

    </style>
    <script>
        function logHelloWorld() {
            console.log("hello world!")
            console.log(1 - "1" + 2);
            let obj;
            console.log(obj)
        }
        logHelloWorld();
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1 class="red-text">Title</h1>
    <h1 class="yellow-text">Title</h1>
    <h1 class="green-text">Title</h1>
    <h3 id="subTitle">Title</h3>
    <h6 style="color: brown">Title</h6>
    <p> <span> Hello </span> world!</p>
</div>
</body>
</html>
